<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
  </head>
  <body>
    <h1>Hello <%= @user.user_name %></h1>
    <p>
      go there <a href="#<%= @url %>"></a>
    </p>
  </body>
</html>
