<h3>New Band</h3>
<form action="/bands" method="post">
  <label for="name">Name
    <input id="name" type="text" name="band[name]" value="">
  </label>

  <input type="submit" value="Submit">
</form>
