<h3>SIGN UP</h3>
<form action="/users" method="post">
  <label for="email">Email:
    <input id="email" type="text" name="user[email]">
  </label>

  <br>
  <br>

  <label for="password">Password:
    <input id="password" type="password" name="user[password]">
  </label>

  <br>
  <br>

  <input type="submit" value="Sign up!">
</form>
